<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <h1>Welcome to the home page</h1>
        <h2>edit to test commit</h2>
        <!--Allows users to go to stats page via Button-->
        <form action="/stats/" method="post">
            {% if "user" not in session %}
            <h3>You are not logged in</h3>
            {% else %}
            <h3>You are: {{ session["user"] }}</h3>
            {% endif %}
            <button name="statsOverview" type="submit" style="width: 100px; height: 70px;">Lets check your stats</button>
        </form>
        <section class = "About-section">
            
            <h1>About</h1>
            <p>*insert product name here* is designed to you help you organise 'Working from home' life
                and help draw the line between your business life and your personal life.
                By showing you how you're spending your day on your devices, 
                you can get a better understanding on how much personal time you are allocating for yourself.
        
            </p>
        
            </section>
    </body>
</html>