<!DOCTYPE html>
<html lang="en">

    <head>
        <title>stats</title>
        <script>
            setInterval(function() {
    fetch('/test')
      .then(function (response) {
          return response.json();
      }).then(function (text) {
          if(text.changed === "yes"){console.log('query'); location.reload();}
          else {console.log("nonquery");}
      });
}, 1000);

        </script>
    </head>
    <body>
        <h1>Welcome to your stats page</h1>
        <form action="/" method="post">
            <button name="returnHome" type="submit" style="width: 100px; height: 70px;">Go Home</button>
        </form>
        <h3>You have spent {{ hours }} hours on your computer</h3>
    </body>
</html>